extends layout

block content
  h1 Input
  input#nameInput(type='text', placeholder='Name')
  input#messageInput(type='text', placeholder='Message')
  h1 Currency
  div(ng-controller='currency')
    input(type='number' style='width: 30px' ng-model='number')
    select(name='type' ng-model='type' )
      option(value='bitcoin') Bitcoin
      option(value='litecoin') Litecoin
      option(value='dogecoin') Dogecoin
    p(ng-show="type === 'litecoin' && coinData.litecoin.ask"){{coinData.litecoin.ask * number | currency}}
    p(ng-show="type === 'dogecoin' && coinData.dogecoin.ask"){{coinData.dogecoin.ask * number | currency}}
    p(ng-show="type === 'bitcoin' && coinData.bitcoin.ask"){{coinData.bitcoin.ask * number | currency}}
  h1 TODO
  div(ng-controller='todo')
    form(ng-submit='addTodo()')
      label(for='todo') New Todo: 
      input(type='text' id='todo' ng-model='newTodo.text')
    div(ng-repeat='todo in todos track by $index') 
      p
        div(class='remove' ng-click="removeTodo(todo)") X 
        &nbsp;
        div(class='task' ng-class='{"complete": todo.completed}' ng-click='complete(todo)') {{todo.text}}
  h1 Chat
  div(ng-controller='chat')
    div(ng-repeat='chat in chats track by $index')
      div(class='chat')
        div(class='left')
          img(class='image' ng-src='{{chat.url}}')
        div(class='right')
          div(class='name ') {{chat.name}}
          div( ng-show='chat.edit' )
            form(class='editForm' ng-submit='updateChat(chat)')
              label(for='text')
              input(type='text' name='message' ng-model='chat.message' id='text')
          div(class='text ' ng-hide='chat.edit' ng-dblclick="chat.edit = true") {{chat.message}}
      div(class='delete ' ng-click='removeChat(chat)') delete
    form(ng-submit='addChat()')
      label(for='name') Name
      input(type='text' id='name' ng-model='newChat.name')
      label(for='url') Url
      input(type='text' id='url' ng-model='newChat.url')
      label(for='message') Message
      input(type='text' id='message' ng-model='newChat.message')
      input(type='submit')
