doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
    script(src='/javascripts/app.js')
  body
    block content
