body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.remove {
  display: inline-block;
  font-weight: bold;
}

.remove:hover {
  cursor: pointer;
}

.task {
  display: inline-block;
}

.complete {
  text-decoration: line-through;
}
